/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.
/* Mobile devices */
// @media (max-width: 768px) {
//     .img-fluid {
//         max-width: 50%; /* or any other percentage */
//         height: auto;
//     }
// }

.profile {
    display: flex;
    justify-content: center; /* Aligns content in the center */
    align-items: center; /* Aligns items vertically */
    flex-direction: column; /* Stacks items vertically */
}

.img-fluid {
    max-width: 50vw; /* 80% of the viewport width */
    height: auto;
}


#revolverMaps {
    display: none;
}



/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
